.action_link {
    font-family: var(--font-family);
    color: var(--tg-theme-link-color, #2481CC);
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
[data-theme="cupertino"] .action_link {
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.078px;
    text-transform: uppercase;
}

[data-theme="material"] .action_link {
    font-size: 15px;
}

.action_link:active {
    opacity: 0.5;
}
.action_link.destructive {
    color: var(--text-destructive-color);
}